name: Build Grafana FR Image

on:
  push:
    branches:
      - main
      - translate-fr-dashboards
    paths:
      - "grafana/**"
  workflow_dispatch: # Permet de lancer manuellement

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/grafana

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    name: Build and Push Grafana FR
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=fr
            type=sha,prefix=

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: grafana
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
